<p>
    Bonjour
    {% if tournament.numberOfPlayerPerTeam > 1 %}
        à toute l'équipe
    {% endif %}
    {{ team.name }},<br><br>
    Merci pour votre participation, pour finaliser votre inscription à la {{ event.name }} (<b>{{ tournament.name }}</b>)  vous devez vous connecter à votre <a href="{{ url('fos_user_security_login') }}">interface joueur</a> avec vos identifiants :
</p>
<ul>
    <li>
        Email : <b>{{ email }}</b>
    </li>
{#     <li>
        Mot de passe : <b>{{ password }}</b>
    </li> #}
</ul>
<p>
    Nous vous rappelons que tant que vous n'avez pas acheté vos places, d'autres joueurs peuvent le faire avant vous et prendre les dernières places.<br><br>
    Pour toute question, contactez-nous à <a href="mailto:infos@hf-lan.fr">infos@hf-lan.fr</a>.<br>
    Le staff HFLAN.
</p>