{% macro show(team, direction) %}
    {% set event = nextEvent() %}
    {% if date('now') < date(team.event.registrationCloseAt) %}
    <div class="process process-{{ direction }}">
        <div class="step{% if not team.infoLocked %} active{% endif %}">
            <div class="step-number">1</div>
            <div class="hint">
                <i class="fa fa-plus"></i>
                {{ "registration.process.1"|trans({}, "registration")|desc("Etape 1 : Créez un compte") }}
            </div>
        </div>
        <div class="step{% if team.infoLocked and not team.paid %} active{% endif %}">
            <div class="step-number">2</div>
            <div class="hint">
                <i class="fa fa-edit"></i>
                {{ "registration.process.2"|trans({}, "registration")|desc("Etape 2 : Remplissez vos informations") }}
            </div>
        </div>
        <div class="step{% if team.paid %} active{% endif %}">
            <div class="step-number">3</div>
            <div class="hint">
                <i class="fa fa-ticket"></i>
                {{ "registration.process.3"|trans({}, "registration")|desc("Etape 3 : Achetez votre place") }}
            </div>
        </div>
    </div>
    {% else %}
        </a>
        <a href="{{ path('hflan_team_registration_closed') }}">{{ "registration.process.closed"|trans({'%event%':team.event.name}, "registration")|desc("Les inscriptions pour la LAN sont fermées. Nom de la LAN : %event%") }}
    {% endif %}
{% endmacro %}
