<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block page_title %}hf.lan{% endblock %}</title>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
            {% stylesheets
                'css/smoothness/jquery-ui-1.10.3.custom.min.css'
                'css/lightbox.css'
                'bundles/bmatznerfontawesome/css/font-awesome.min.css'
                'less/global.less'
                'less/layout.less'
                'less/grid.less'
                'less/navbar.less'
                'less/form.less'
                'less/pagination.less'
                'less/table.less'
                'less/dropdown.less'
                '@hflanBlogBundle/Resources/public/less/blog.less'
                '@hflanLanBundle/Resources/public/less/countdown.less'
                '@hflanPhotosBundle/Resources/public/less/albums.less'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="green-bar"></div>
            <div class="main-container">
                <div class="user-bar">
                    <div class="user-info">
                        {% if app.user %}
                            <div class="dropdown">
                                <i class="icon-cogs"></i>
                                {% if app.user.team is not null %}
                                    {{ app.user.team.name }}
                                {% else %}
                                    {{ app.user.username }}
                                {% endif %}
                                <i class="icon-caret-down"></i>
                                <ul class="dropdown-menu">
                                    {% if is_granted('ROLE_STAFF') %}
                                        <li>
                                            <a>
                                                <i class="icon-dashboard"></i>
                                                Dashboard
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a>
                                                <i class="icon-flag-checkered"></i>
                                                Valider l'inscription
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="icon-off"></i>
                                            Déconnexion
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">
                                <i class="icon-off"></i>
                                Connexion
                            </a>
                        {% endif %}
                    </div>
                </div>
                <ul class="nav">
                    <li>
                        <a href="#">
                            <i class="icon-home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('hflan_blog') }}">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Informations
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('hflan_photos') }}">
                            Photos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Live
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Partenaires
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Guestbook
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="main-container">
            <div class="table-container">
                <div class="content">
                    <section>
                        {% block body %}{% endblock %}
                    </section>
                </div>
                <div class="side-bar">
                    <aside>
                        {{ render(controller("hflanLanBundle:Event:menu")) }}
                    </aside>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            {% javascripts
                'js/jquery-ui-1.10.3.custom.min.js'
                'js/jquery.countdown.min.js'
                'js/lightbox-2.6.min.js'
                'js/form.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
