<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block page_title %}hf.lan{% endblock %}</title>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
            {% stylesheets
                'css/smoothness/jquery-ui-1.10.3.custom.min.css'
                'css/lightbox.css'
                'bundles/bmatznerfontawesome/css/font-awesome.min.css'
                'less/global.less'
                'less/layout.less'
                'less/grid.less'
                'less/navbar.less'
                'less/form.less'
                'less/pagination.less'
                'less/table.less'
                'less/dropdown.less'
                'less/process.less'
                'less/flash.less'
                'less/partners.less'
                'less/carousel.less'
                'less/tabs.less'
                '@hflanBlogBundle/Resources/public/less/blog.less'
                '@hflanLanBundle/Resources/public/less/countdown.less'
                '@hflanLanBundle/Resources/public/less/register.less'
                '@hflanPhotosBundle/Resources/public/less/albums.less'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="green-bar"></div>
            <div class="main-container">
                <div class="user-bar">
                    <a href="{{ path('hflan_home') }}" class="hflan-logo-link"></a>
                    <div class="hflan-logo"></div>
                    <div class="lens-flare"></div>
                    <div class="switch-lang">
                        {% if app.request.attributes.get('_route') %}
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}" class="flag-fr"></a>
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}" class="flag-en"></a>
                        {% endif %}
                    </div>
                    <div class="user-info">
                        {% if app.user %}
                            {% if app.user.team is not null %}
                                <a class="process-container" href="{{ path('hflan_edit_team') }}">
                                    {% import "hflanLanBundle:Modules:registrationProcess.html.twig" as process %}
                                    {{ process.show(app.user.team, "hz") }}
                                </a>
                            {% endif %}
                            <div class="dropdown">
                                <i class="fa fa-cogs"></i>
                                {% if app.user.team is not null %}
                                    {{ app.user.team.name }}
                                {% else %}
                                    {{ app.user.username }}
                                {% endif %}
                                <i class="fa fa-caret-down"></i>
                                <ul class="dropdown-menu">
                                    {% if is_granted('ROLE_STAFF') %}
                                        <li>
                                            <a href="{{ path('hflan_dashboard') }}">
                                                <i class="fa fa-dashboard"></i>
                                                Dashboard
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        {% if is_granted('ROLE_NEWSER') %}
                                            <li>
                                                <a href="{{ path('hflan_blog_admin') }}">
                                                    <i class="fa fa-file-text"></i>
                                                    Blog
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_DOCUMENT') %}
                                            <li>
                                                <a href="{{ path('hflan_doc_admin') }}">
                                                    <i class="fa fa-paperclip"></i>
                                                    Documents
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_GUESTBOOK') %}
                                            <li>
                                                <a href="{{ path('hflan_guestbook_admin') }}">
                                                    <i class="fa fa-star-half-full"></i>
                                                    Guestbook
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_BLOCK') %}
                                            <li>
                                                <a href="{{ path('hflan_block_admin') }}">
                                                    <i class="fa fa-edit "></i>
                                                    Pages
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_PARTNER') %}
                                            <li>
                                                <a href="{{ path('hflan_partner_admin') }}">
                                                    <i class="fa fa-briefcase "></i>
                                                    Partenaires
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_STREAM') %}
                                            <li>
                                                <a href="{{ path('hflan_stream_admin') }}">
                                                    <i class="fa fa-youtube-play"></i>
                                                    Stream
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_RESPO') %}
                                            <li>
                                                <a href="{{ path('hflan_event_admin') }}">
                                                    <i class="fa fa-trophy"></i>
                                                    Tournois
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_USER_MANAGER') %}
                                            <li>
                                                <a href="{{ path('hflan_users_admin') }}">
                                                    <i class="fa fa-group"></i>
                                                    Utilisateurs
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% else %}
                                        <li>
                                            <a href="{{ path('hflan_edit_team') }}">
                                                <i class="fa fa-flag-checkered"></i>
                                                {{ "user_bar.dropdown.finish_registration"|trans({}, "menu")|desc("Lien pour valider l'inscription") }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{ path('fos_user_change_password') }}">
                                            <i class="fa fa-key"></i>
                                            {{ "user_bar.dropdown.password"|trans({}, "menu")|desc("Lien pour changer de mot de passe") }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-power-off"></i>
                                            {{ "user_bar.dropdown.logout"|trans({}, "menu")|desc("Lien pour se déconnecter") }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">
                                <i class="fa fa-off"></i>
                                {{ "user_bar.dropdown.login"|trans({}, "menu")|desc("Lien pour se connecter") }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                {% macro current(route) %}
                    {% if route in app.request.get('_route') %}
                        class="active"
                    {% endif %}
                {% endmacro %}
                {% import _self as helper %}

                <ul class="nav">
                    <li {{ helper.current('hflan_home') }}>
                        <a href="{{ path('hflan_home') }}">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li {{ helper.current('hflan_blog') }}>
                        <a href="{{ path('hflan_blog') }}">
                            {{ "menu.blog"|trans({}, "menu") }}
                        </a>
                    </li>
                    <li {{ helper.current('hflan_info') }}>
                        <a href="{{ path('hflan_info') }}">
                            {{ "menu.info"|trans({}, "menu") }}
                        </a>
                    </li>
                    <li {{ helper.current('hflan_prices') }}>
                        <a href="{{ path('hflan_prices') }}">
                            {{ "menu.prices"|trans({}, "menu") }}
                        </a>
                    </li>
                    <li {{ helper.current('hflan_photos') }}>
                        <a href="{{ path('hflan_photos') }}">
                            {{ "menu.photos"|trans({}, "menu") }}
                        </a>
                    </li>
                    {% if countStreams() %}
                        <li {{ helper.current('hflan_stream') }}>
                            <a href="{{ path('hflan_stream') }}">
                                {{ "menu.stream"|trans({}, "menu") }}
                            </a>
                        </li>
                    {% endif %}
                    <li {{ helper.current('hflan_guestbook') }}>
                        <a href="{{ path('hflan_guestbook') }}">
                            {{ "menu.guestbook"|trans({}, "menu") }}
                        </a>
                    </li>
                    {% if not app.user and nextEvent() is not null %}
                        <li {{ helper.current('hflan_register') }}>
                            <a href="{{ path('hflan_register') }}">
                                {{ "menu.register"|trans({}, "menu") }}
                            </a>
                        </li>
                    {% endif %}
                    <li {{ helper.current('hflan_contact') }}>
                        <a href="{{ path('hflan_contact') }}">
                            {{ "menu.contact"|trans({}, "menu") }}
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="main-container">
            <div class="table-container">
                <div class="content">
                    <section>
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% block body %}{% endblock %}
                    </section>
                </div>
                <div class="side-bar">
                    <aside>
                        <h3>
                            {{ "sidebar.facebook.title"|trans({}, "sidebar")|desc("Titre facebook box") }}
                        </h3>
                        <a target="_blank" class="btn btn-social" href="https://www.facebook.com/hf.lan.esiee" style="background-color: #3b5998;">
                            <i class="fa fa-facebook fa-2x" style="margin-top: 4px;"></i>
                        </a>
                        <a target="_blank" class="btn btn-social" href="https://twitter.com/hflanesiee" style="background-color: #309aea;">
                            <i class="fa fa-twitter fa-2x" style="margin-top: 4px;"></i>
                        </a>
                        <a target="_blank" class="btn btn-social" href="https://www.youtube.com/playlist?list=PLkC0j4FQhqgtMjSCg81xGCgMKgxDDf8bA" style="background-color: #ca3523;">
                            <i class="fa fa-youtube fa-2x" style="margin-top: 4px;"></i>
                        </a>
                        {{ render(controller("hflanLanBundle:Event:menu")) }}
                        {{ render(controller("hflanGuestbookBundle:Public:menu")) }}
                        {{ render(controller("hflanPartnerBundle:Public:menu")) }}
                    </aside>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <div id="fb-root"></div>
            {% javascripts
                'js/jquery-ui-1.10.3.custom.min.js'
                'js/jquery.countdown.min.js'
                'js/lightbox-2.6.min.js'
                'js/form.js'
                'js/carousel.js'
                'js/sortable.js'
                'js/tabs.js'
                output='/js/script.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-29190283-1', 'hf-lan.fr');
                ga('send', 'pageview');

            </script>
        {% endblock %}
    </body>
</html>
