{% extends "::base.html.twig" %}

{% block body %}
    <h1 class="header">
        {{ "guestbook.title"|trans({}, "guestbook")|desc("Titre principale de la page guestbook") }}
    </h1>

    {% for feedback in pagination %}
        {{ feedback.message|nl2br }}
        <div class="note">
            {{ "guestbook.by"|trans({}, "guestbook")|desc("Auteur") }} <b>{{ feedback.nickname }}</b> {{ "guestbook.date"|trans({}, "guestbook")|desc("Date") }} {{ feedback.createdAt|simpleDate }}
            <div class="star-rating">
                {% for i in range(0,4) %}
                    {% if i < feedback.rating %}
                        <i class="fa fa-star"></i>
                    {% else %}
                        <i class="fa fa-star-o"></i>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <hr>
    {% endfor %}

    {{ knp_pagination_render(pagination) }}
    </section><section>
    <h1>
        {{ "guestbook.give_your_feedback"|trans({}, "guestbook")|desc("Titre du formulaire") }}
    </h1>
    <form method="post" class="form-hz" novalidate>
        {{ form_widget(form) }}

        <div class="form-actions">
            <button type="submit" class="btn">
                <i class="fa fa-check"></i>
                {{ "guestbook.send"|trans({}, "guestbook")|desc("Envoyer le formulaire") }}
            </button>
        </div>
    </form>
{% endblock %}
