{% extends 'hflanLanBundle:Team:layout.html.twig' %}

{% block content %}
    <div class="row row-gaped" style="margin-top: 30px">
        <div class="col6">
            {% for player in team.players %}
                <div class="panel">
                    {{ player.nickname|default("registration.default_player_name"|trans({'%n%':loop.index}, "registration")) }}
                    {% if player.minor %}
                        <span class="minor-sign">-18</span>
                    {% endif %}
                    {% if player.valid %}
                        <a href="{{ path('hflan_edit_player', {id:player.id}) }}" class="edit-player valid">
                            <i class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('hflan_edit_player', {id:player.id}) }}" class="edit-player">
                            <i class="fa fa-pencil"></i>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col6">
            {{ renderBlock('register_instruction') }}
            <a {% if team.valid %}href="{{ path('hflan_pay_team') }}" {% endif %}class="next-step{% if team.valid %} valid{% endif %}">
                <i class="fa fa-lock"></i>
                <i class="fa fa-unlock-alt"></i>
                <p>
                    {{ "registration.process.lock"|trans({}, "registration")|desc("Passer à l'étape 3") }}
                </p>
            </a>
        </div>
    </div>
{% endblock %}
