{% extends '::base.html.twig' %}
{% import "hflanLanBundle:Modules:registrationProcess.html.twig" as process %}

{% block body %}
    <h1 class="header">
        {{ "registration.title"|trans({'%tournament%':tournament.name}, "registration")|desc("Titre de la page d'inscription au tournoi. Nom du tournoi : %tournament%") }}
        <small>
            {{ tournament.prizePool }} € de Prize-Pool
            {{ "registration.prize_pool"|trans({'%prize_pool%':tournament.prizePool}, "registration")|desc("Prize_pool du tournoi. Prize-pool : %prize_pool%") }}
        </small>
    </h1>
    <table class="table table-total">
        <tr>
            <th>
                {{ "registration.table.item"|trans({}, "registration")|desc("Colonne tableau : Article") }}
            </th>
            <th>
                {{ "info.table.price"|trans({}, "info")|desc("Colone tableau : Prix") }}
            </th>
            <th>
                {{ "registration.table.qty"|trans({}, "registration")|desc("Colonne tableau : Quantité") }}
            </th>
        </tr>
        <tr>
            <td class="toggle">
                {{ "registration.table.item.ticket"|trans({'%event%':tournament.event.name}, "registration")|desc("Billet d'entré pour la LAN. Nom de la LAN : %event%") }}
                <input type="checkbox" id="admission" />
                <label for="admission">
                    <div class="active">
                        <i class="fa fa-minus-circle"></i>
                    </div>
                    <div class="inactive">
                        <i class="fa fa-plus-circle"></i>
                    </div>
                </label>
                <div class="toggle-content" style="margin-top: 10px;color: #7c7c7c">
                    {{ renderBlock('order_entrance')|stripHTML }}
                </div>
            </td>
            <td>
                {{ tournament.event.price }}.00
                €
            </td>
            <td>
                {{ tournament.numberOfPlayerPerTeam }}
            </td>
        </tr>
        {% if tournament.price > 0 %}
        <tr>
            <td class="toggle">
                {{ "registration.table.item.tournament"|trans({
                    '%tournament%':tournament.name,
                    '%game_type%':tournament.gameType
                }, "registration")|desc("Participation au tournoi. Nom du tournoi : %tournament%, type de jeu : %game_type%") }}
                <input type="checkbox" id="tournament" />
                <label for="tournament">
                    <div class="active">
                        <i class="fa fa-minus-circle"></i>
                    </div>
                    <div class="inactive">
                        <i class="fa fa-plus-circle"></i>
                    </div>
                </label>
                <div class="toggle-content" style="margin-top: 10px;color: #7c7c7c">
                    {{ renderBlock('order_tournament')|stripHTML }}
                </div>
            </td>
            <td>
                {{ tournament.price }}.00
                €
            </td>
            <td>
                {{ tournament.numberOfPlayerPerTeam }}
            </td>
        </tr>
        {% endif %}
        {% if tournament.price < 0 %}
        <tr>
            <td class="toggle">
                Réduction
            </td>
            <td>
                {{ tournament.price }}.00
                €
            </td>
            <td>
                {{ tournament.numberOfPlayerPerTeam }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                {{ "registration.table.totale"|trans({}, "registration")|desc("Colonne tableau : Total") }}
            </td>
            <td>
                {{ tournament.totalPrice }}.00&nbsp;€
            </td>
            <td></td>
        </tr>
    </table>
    </section><section>

    {{ process.show(team, "hz") }}

    {% block content %}{% endblock %}
{% endblock %}
