{% extends '::base.html.twig' %}

{% block body %}
    <a href="{{ path('hflan_event_admin') }}">{{ team.tournament.event }}</a> /
    <a href="{{ path('hflan_tournament_show', {slug:team.tournament.slug}) }}">{{ team.tournament }}</a> /
    {{ team.name }}
    <h1 class="header">
        {{ team.name }}
        <small>
            {% if team.paid %}
                Liste définitive
            {% elseif not team.infoLocked %}
                Pré-inscrite
            {% else %}
                En attente de paiment
            {% endif %}
            <hr>
            <i class="fa fa-envelope"></i>
            {{ team.email }}
            <hr>
            <i class="fa fa-edit"></i>
            {{ team.createdAt|countdown }}
        </small>
    </h1>

    {% if not team.paid %}
        <a class="btn" href="{{ path('hflan_team_upgrade_confirmation', {id:team.id}) }}">
            <i class="fa fa-arrow-up"></i>
            Passer en liste supperieur
        </a>
        {% if team.infoLocked %}
            <a class="btn" href="{{ path('hflan_team_downgrade_confirmation', {id:team.id}) }}">
                <i class="fa fa-arrow-down"></i>
                Dévérouiller les informations
            </a>
        {% endif %}
    {% else %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn" href="{{ path('hflan_team_downgrade_confirmation', {id:team.id}) }}">
                <i class="fa fa-arrow-down"></i>
                Dévérouiller les informations
            </a>
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn" href="{{ path('hflan_team_remove_confirmation', {id:team.id}) }}">
            <i class="fa fa-trash-o"></i>
            Supprimer l'équipe
        </a>
    {% endif %}

    </section><section>

    <h2>Liste des joueurs</h2>

    <table class="table">
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Email</th>
            {% for field in team.tournament.extraFields %}
                <th>{{ field.name }}</th>
            {% endfor %}
        </tr>
        {% for player in team.players %}
            <tr>
                <td>
                    {{ player.nickname }}
                    {% if player.minor %}
                        <span class="minor-sign">-18</span>
                    {% endif %}
                </td>
                <td>
                    {{ player.firstName }}
                    {{ player.lastName }}
                </td>
                <td>
                    {{ player.email }}
                </td>
                {% for field in player.extraFields %}
                    <td>
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
