{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="header">
        Documents
    </h1>

    <a class="btn" href="{{ path('hflan_doc_new') }}">
        <i class="fa fa-plus"></i>
        Nouveau
    </a>

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Langue</th>
            <th>Action</th>
        </tr>
        {% for document in documents %}
            <tr data-href="{{ path('hflan_doc_edit', {slug:document.slug}) }}">
                <td>{{ document.name }}</td>
                <td>{{ document.text|stripHTML(100) }}</td>
                <td>{{ document.lang }}</td>
                <td>
                    <a href="{{ path('hflan_doc_up', {slug:document.slug}) }}" data-sortable="up">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="{{ path('hflan_doc_down', {slug:document.slug}) }}" data-sortable="down">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                    <a href="{{ path('hflan_doc_remove', {slug:document.slug}) }}">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <i class="fa fa-lightbulb"></i> Double-cliquez pour éditer.<br>
    </p>
{% endblock %}