
<form method="post" class="form-hz" novalidate>
    <div class="panel">
        <h2>Général</h2>
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
    </div>

    <div class="panel">
        <h2>Dates</h2>
        {{ form_row(form.beginAt) }}
        {{ form_row(form.endAt) }}
        {{ form_row(form.datesVisible) }}
    </div>

    <div class="panel">
        <h2>Inscriptions</h2>
        {{ form_rest(form) }}
    </div>

    <div class="form-actions">
        <button type="submit" class="btn">
            <i class="icon-ok"></i> Enregistrer
        </button>
        <a href="{{ path('hflan_event_admin') }}" class="btn">
            <i class="icon-reply"></i> Annuler
        </a>
    </div>
</form>