{% extends '::base.html.twig' %}

{% block body %}
    <h1>Liste des évènements</h1>

    <a href="{{ path('hflan_event_new') }}" class="btn">
        <i class="icon-plus"></i> Nouveau
    </a>
    <hr>

    {% for event in events %}
        <div class="panel">
            <h2>
                {{ event.name }}
                <small>
                    {{ event.price }} €
                    <hr>
                    {{ event.beginAt|date('d-m-Y') }}
                    <i class="icon-caret-right" style="margin: 0 5px"></i>
                    {{ event.endAt|date('d-m-Y') }}
                    <hr>
                    {{ event.registrationOpenAt|date('d-m-Y') }}
                    <i class="icon-caret-right" style="margin: 0 5px"></i>
                    {{ event.registrationCloseAt|date('d-m-Y') }}
                    <a href="{{ path('hflan_event_edit', {slug: event.slug}) }}">
                        <i class="icon-pencil"></i>
                    </a>
                </small>
            </h2>
        </div>
    {% endfor %}
{% endblock %}
