{% extends '::base.html.twig' %}

{% block body %}
    <h1>Liste des évènements</h1>

    <a href="{{ path('hflan_event_new') }}" class="btn">
        <i class="icon-plus"></i> Nouveau
    </a>

    <hr>

    {% for event in events %}
        <div class="panel">
            <h2>
                {{ event.name }}
                <small>
                    {{ event.price }} €
                    <hr>
                    <i class="icon-edit"></i>
                    {{ event.registrationOpenAt|simpleDate('-') }}
                    <i class="icon-caret-right" style="margin: 0 5px"></i>
                    {{ event.registrationCloseAt|simpleDate('-') }}
                    <hr>
                    <i class="icon-trophy"></i>
                    {{ event.beginAt|simpleDate('-') }}
                    <i class="icon-caret-right" style="margin: 0 5px"></i>
                    {{ event.endAt|simpleDate('-') }}
                    <div class="pull-right">
                        <a href="{{ path('hflan_event_edit', {slug: event.slug}) }}">
                            <i class="icon-pencil"></i>
                        </a>
                        <a href="{{ path('hflan_event_remove', {slug: event.slug}) }}">
                            <i class="icon-remove"></i>
                        </a>
                    </div>
                </small>
            </h2>

            {% if event.tournaments|length > 0 %}
                <table class="table" style="margin-bottom: 15px">
                    <tr>
                        <th>Jeu</th>
                        <th>Type de jeu</th>
                        <th>Prix</th>
                        <th>Prize-Pool</th>
                        <th>
                            <div class="pop-up-header">
                                <div class="long-text">
                                    <b>Pré-inscriptions</b>
                                    Il manque des informations sur les joueurs
                                </div>
                                <i class="icon-ellipsis-horizontal"></i>
                            </div>
                        </th>
                        <th>
                            <div class="pop-up-header">
                                <div class="long-text">
                                    <b>En attente de paiment</b>
                                    Toutes les informations sont valides, il ne reste plus qu'à payer
                                </div>
                                <i class="icon-ellipsis-horizontal"></i>
                            </div>
                        </th>
                        <th colspan="2">Equipes</th>
                        <th></th>
                    </tr>
                    {% for tournament in event.tournaments %}
                        <tr data-href="{{ path('hflan_tournament_show', {slug:tournament.slug}) }}">
                            <td>{{ tournament.game }}</td>
                            <td>{{ tournament.gameType }}</td>
                            <td>{{ tournament.price }} €</td>
                            <td>{{ tournament.prizePool }} €</td>
                            <td>{{ tournament.preRegistered }}</td>
                            <td>{{ tournament.pending }}</td>
                            <td style="padding-right: 0">
                                {{ tournament.paid }}
                            </td>
                            <td style="padding-left: 0">
                                / {{ tournament.numberOfTeams }}
                            </td>
                            <td>
                                <a href="{{ path('hflan_tournament_edit', {slug:tournament.slug}) }}">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="{{ path('hflan_tournament_export', {slug:tournament.slug}) }}" title="Exporter en csv">
                                    <i class="icon-cloud-upload"></i>
                                </a>
                                <a href="{{ path('hflan_tournament_remove', {slug:tournament.slug}) }}">
                                    <i class="icon-remove"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <a class="btn" href="{{ path('hflan_tournament_new', {slug:event.slug}) }}">
                <i class="icon-plus"></i>
                Ajouter un tournoi
            </a>

            <a href="{{ path('hflan_event_export', {slug:event.slug}) }}" class="btn">
                <i class="icon-envelope"></i> Mailing list
            </a>
        </div>
    {% endfor %}
{% endblock %}
