{% extends '::base.html.twig' %}

{% block body %}
    <div class="tabs">
        <a href="#tournaments" class="tab">
            {{ "info.tab.general"|trans({}, "info")|desc("Onglet general") }}
        </a>
        <a href="#access" class="tab">
            {{ "info.tab.access"|trans({}, "info")|desc("Onglet accès") }}
        </a>
        <a href="#rules" class="tab">
            {{ "info.tab.rules"|trans({}, "info")|desc("Onglet règlements") }}
        </a>
    </div>

    <div class="tab-content">
        <div id="tournaments" class="tab-container">
            {% set event = nextEvent() %}
            <h1 class="header">
                {{ "info.tab.general"|trans({}, "info")|desc("Onglet general") }}
            </h1>
            {% if event is not null and event.datesVisible %}
                <h2 class="header">
                    {{ event }}
                </h2>

            {% else %}
                {{ renderBlock('no_event') }}
            {% endif %}
            {{ renderBlock('info_extras') }}
        </div>

        <div id="rules" class="tab-container">
            <h1 class="header">
                {{ "info.tab.rules"|trans({}, "info")|desc("Onglet règlements") }}
            </h1>

            {% for document in documents %}
                <h3>{{ document.name }}</h3>
                {{ document.text|raw }}
                <a class="btn" href="{{ path('hflan_doc_download', {slug:document.slug}) }}">
                    <i class="fa fa-download"></i>
                    {{ "info.btn.download"|trans({}, "info")|desc("Bouton télécharger") }}
                </a>
                <hr>
            {% endfor %}
        </div>

        <div id="access" class="tab-container">
            <h1 class="header">
                {{ "info.tab.access"|trans({}, "info")|desc("Onglet accès") }}
            </h1>

            {{ renderBlock('info_access') }}
            <img src="{{ asset('img/map.png') }}" class="img-article">
        </div>
    </div>
{% endblock %}
