{% set event = nextEvent() %}
{% embed 'hflanLanBundle:Modules:nextEventState.html.twig' %}

    {% block eventVisible %}
        <hr>
        <h3>
            {{ "sidebar.next_lan.title"|trans({}, "sidebar")|desc("Titre menu : Prochaine LAN") }}
        </h3>
        <div id="countdown">
            <script type="text/javascript">
                var target = new Date({{ event.beginAt|date('Y,m-1,j,G,i,s,u') }});
            </script>
        </div>
    {% endblock %}

    {% block register %}
        {% if app.user %}
        <p>
            {{ "registration.message.hurry_up"|trans({'%date%':event.registrationCloseAt|countdown}, "registration")|desc("Fin des inscriptions : %date%") }}
        </p>
        {% else %}
            <p>
                {{ "registration.message.hurry_up"|trans({'%date%':event.registrationCloseAt|countdown}, "registration")|desc("Fin des inscriptions : %date%") }}
            </p>
            <a href="{{ path('hflan_register') }}" class="btn btn-large">
                <i class="fa fa-edit"></i>
                {{ "info.table.register_action"|trans({}, "info")|desc("Bouton s'inscrire") }}
            </a>
        {% endif %}
    {% endblock %}

{% endembed %}

{% if event %}
    <hr>
{% endif %}