{% extends "::base.html.twig" %}

{% block body %}
    <div class="carousel" data-autoplay="true" data-paused="false">
        <div class="nav-prev"></div>
        <div class="nav-next"></div>

        {% for article in articles %}
            <article
                    {% if loop.first %}class="current"{% elseif loop.last %}class="prev"{% elseif loop.index == 2 %}class="next"{% endif %}
                    style="background-image: url({{ asset(article.webPath) }})">
                <div class="preview">
                    <h3>{{ article.title }}</h3>
                    {{ article.content|stripHTML(200)|raw }}
                </div>
            </article>
        {% endfor %}
    </div>

    <hr>

    <div class="row row-gaped">
        <div class="col6">
            <h1 class="header">
                Derniers articles
            </h1>
            {% for article in articles %}
                <article>
                    <div class="row row-gaped">
                        <div class="col4">
                            <a class="article-image" style="background-image: url({{ asset(article.webPath) }})" href="{{ path('hflan_blog_show', {slug:article.slug}) }}">
                                <i class="icon-eye-open"></i>
                            </a>
                        </div>
                        <div class="col8">
                            <h3>
                                <a href="{{ path('hflan_blog_show', {slug:article.slug}) }}">{{ article.title }}</a>
                            </h3>
                            {{ article.content|stripHTML(150)|raw }}
                        </div>
                    </div>
                </article>
                <hr>
            {% endfor %}
        </div>

        <div class="col6">
            <h1 class="header">
                Sur Facebook
            </h1>
        </div>
    </div>
{% endblock %}