{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="header">Blog</h1>

    {% for article in pagination %}
        <div class="row row-gaped">
            <div class="col3">
                <a class="article-image" style="background-image: url({{ asset(article.webPath) }})" href="{{ path('hflan_blog_show', {slug:article.slug}) }}">
                    <i class="icon-eye-open"></i>
                </a>
            </div>
            <div class="col9">
                <h2><a href="{{ path('hflan_blog_show', {slug:article.slug}) }}">{{ article.title }}</a></h2>
                <span class="note">Par {{ article.author.username }} le {{ article.createdAt|simpleDate }}</span>
                <p>{{ article.content|stripHTML(250) }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}

    {{ knp_pagination_render(pagination) }}
{% endblock %}
