{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="header">{{ article.title }}</h1>
    {% if article.hasImage %}
            <img src="{{ asset(article.webPath) }}" alt="[article image]" class="img-article">
    {% endif %}
    <span class="note">Par {{ article.author.username }} le {{ article.createdAt|date('d/m/Y') }}</span>
    {{ article.content|raw }}
{% endblock %}
