{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="header">
        Gestion des blocks
    </h1>

    <a href="{{ path('hflan_block_new') }}" class="btn">
        <i class="fa fa-plus"></i>
        Nouveau
    </a>

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Français</th>
            <th>Anglais</th>
        </tr>
        {% for block in blocks %}
            <tr data-href="{{ path('hflan_block_edit', {id:block.id}) }}">
                <td>{{ block.slug }}</td>
                <td>{{ block.textFr|stripHTML(100) }}</td>
                <td>{{ block.textEn|stripHTML(100) }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <i class="fa fa-lightbulb-o"></i> Double-cliquez pour éditer.
    </p>
{% endblock %}