{% extends '::base.html.twig' %}

{% block body %}
    <h1>Liste des articles</h1>

    <a href="{{ path('hflan_blog_new') }}" class="btn">
        <i class="fa fa-plus"></i> Nouveau
    </a>

    <a href="{{ path('hflan_blog_generate') }}" class="btn">
        <i class="fa fa-plus"></i> Générer la liste des joueurs
    </a>

    <table class="table">
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Création</th>
            <th>Visibilité</th>
            <th>Langue</th>
            <th></th>
        </tr>
        {% for article in pagination %}
            <tr data-href="{{ path('hflan_blog_edit', {slug: article.slug}) }}">
                <td>{{ article.title }}</td>
                <td>{{ article.author.username }}</td>
                <td>{{ article.createdAt|simpleDate }}</td>
                <td>
                    {% if article.published %}
                        <i class="fa fa-eye"></i> Public
                    {% else %}
                        <i class="fa fa-eye-slash"></i> Caché
                    {% endif %}
                </td>
                <td>{{ article.lang }}</td>
                <td>
                    <a href="{{ path('hflan_blog_remove', {slug: article.slug}) }}">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <i class="fa fa-lightbulb-o"></i> Double-cliquez pour éditer.<br>
        <i class="fa fa-crop"></i> <a href="{{ asset('bundles/hflanblog/img/template.png') }}">Template</a> pour les images d'articles. JPG <200ko recommendé.
    </p>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
